{{#each this}}
    <li class="list-item col">
        <div class="img-wrapper overflow-hidden">
            <img src="{{urlToImage}}" alt="">
        </div>
        <h2><a href="{{url}}" target="_blank" rel="noopener noreferrer">{{title}}</a></h2>
    </li>
{{/each}}